html {
	overflow-x: hidden;
}
body {
	overflow-x: unset;
}

main {
	min-width: 0;
}

.rich-text a, .rich-text .pink {
	color: rgba(255,88,151,1);
}

.slider {
	margin: 0 auto;
	margin-left: 0;
}

.swiper {
	overflow: visible !important;
	width: 100%;
	max-width: 100%;
	max-height: 100vh;
	min-height: 0;
	min-width: 0;
	max-width: 100vw;
	width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
	display: none !important;
}

.swiper-wrapper {
	max-height: 100%;
	height: 100%;
	display: flex;
}

/* .swiper-container {
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-left:0;
} */

.swiper-scrollbar {
	background: #d6d6d6;
	display: block !important;
}
.swiper-slide {
	/* max-width: 590px!important; */
	width: auto;
	flex-shrink: 0;
	display: block;
	height: 100%;
	max-height: 100%;
}

.swiper-scrollbar {
	position: absolute;
	left: 0 !important;
	right: 0 !important;
	bottom: -30px !important;
	height: 6px !important;
	border-radius: 2px !important;
	background: #e8e2e2 !important;
}
.swiper-small .swiper-scrollbar {
}

@media (min-width: 768px) {
	.swiper:not(.swiper-small) .swiper-scrollbar {
		width: 80% !important;
		margin: auto;
	}
}

.swiper-scrollbar-small {
	height: 4px;
	bottom: 0px;
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: #ff5897 !important;
	border-radius: 10px;
	left: 0;
	top: 0;
	cursor: grab;
}

.swiper-wrapper img {
	width: 100%;
	position: absolute;
}

@media (max-width: 1023px) {
	.swiper-scrollbar {
		bottom: 0px;
	}
	.swiper-slide:not(.product) {
		width: 16rem !important;
	}
}

.announcement a {
	font-weight: 600;
	text-decoration: underline;
	margin-left: 7px;
}
.styled-links a {
	font-weight: 500;
	text-decoration: underline;
}
.pink-links a {
	color: rgba(255, 88, 151);
}
.font-light strong {
	font-weight: bold;
}

/* Flickity */
.flickity-with-dots .flickity-page-dots {
	height: 20px;
	width: 100vw;
	display: flex;
	justify-content: center;
	 list-style-type: none;
}
.flickity-with-dots .flickity-page-dots .dot {
	height: 10px;
	width: 10px;
	background-color: #606060;
	opacity: 20%;
	margin: auto;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 50%;
	cursor: pointer;
}
.flickity-with-dots .flickity-page-dots .dot::marker {
	display: none!important;
}
.flickity-with-dots .flickity-page-dots .dot.is-selected {
	background-color: #ff5897;
	opacity: 1;
}

.accordion-content ul {
	list-style-type: disc;
	margin-bottom: 20px;
	margin-left: 1rem;
}

/* Richtext */
.wordpress li {
	margin-bottom: 10px;
}

ol {
	list-style-type: decimal;
	padding-left: 20px;
}
